@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"] the Interview Finder App:</h1>
<!--<h3>@ViewData["Message"]</h3>-->
<br>
<p>Thank you for taking the time to use this app!</p>
<br>
<br>
<div>
    <h2>Purpose</h2>
</div>